:root {
  --text-xs-12-normal-font-family: "Noto Sans", Helvetica;
  --text-xs-12-normal-font-weight: 400;
  --text-xs-12-normal-font-size: 12px;
  --text-xs-12-normal-letter-spacing: 0px;
  --text-xs-12-normal-line-height: 16px;
  --text-xs-12-normal-font-style: normal;
  --text-sm-14-normal-font-family: "Noto Sans", Helvetica;
  --text-sm-14-normal-font-weight: 400;
  --text-sm-14-normal-font-size: 14px;
  --text-sm-14-normal-letter-spacing: 0px;
  --text-sm-14-normal-line-height: 20px;
  --text-sm-14-normal-font-style: normal;
  --PDS-container-max-width-mobile: 375px;
  --colors-base-white: rgba(255, 255, 255, 1);
  --colors-neutral-600: rgba(82, 82, 82, 1);
  --colors-red-600: rgba(220, 38, 38, 1);
  --colors-amber-700: rgba(180, 83, 9, 1);
  --colors-green-700: rgba(21, 128, 61, 1);
  --colors-indigo-700: rgba(67, 56, 202, 1);
  --padding-0: 0px;
  --gap-0: 0px;
  --padding-1-4px: 4px;
  --padding-1-5-6px: 6px;
  --padding-0-5-2px: 2px;
  --padding-2-8px: 8px;
  --colors-red-50: rgba(254, 242, 242, 1);
  --colors-amber-50: rgba(255, 251, 235, 1);
  --colors-indigo-50: rgba(238, 242, 255, 1);
  --colors-gray-50: rgba(249, 250, 251, 1);
  --colors-red-200: rgba(254, 202, 202, 1);
  --colors-amber-200: rgba(253, 230, 138, 1);
  --colors-indigo-200: rgba(199, 210, 254, 1);
  --colors-green-50: rgba(240, 253, 244, 1);
  --colors-neutral-200: rgba(229, 229, 229, 1);
  --colors-green-200: rgba(187, 247, 208, 1);
  --gap-24px: 24px;
  --border-radius-full: 9999px;
  --primitives-spacing-1-4px: 4px;
  --primitives-spacing-2-8px: 8px;
  --primitives-spacing-0-5-2px: 2px;
  --primitives-spacing-1-5-6px: 6px;
}

html,
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Container */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0;
  position: relative;
  background-color: #ffffff;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-24px);
  width: 240px;
  justify-content: center;
  align-items: center;
}

/* Base class */
.badge {
  font-family: "Noto Sans";
  display: inline-flex;
  align-items: center;
  letter-spacing: 0;
  border-radius: 9999px;
  text-align: center;
  align-items: center;
  font-weight: 400;
  width: fit-content;
  position: relative;
  margin-top: -1px;
  white-space: nowrap;
}

/* Size classes */
.badge_size_sm {
  width: 43px;
  height: 18px;
  font-size: 12px;
  padding: 2px 6px;
}

.badge_size_md {
  width: 52px;
  height: 24px;
  font-size: 14px;
  padding: 2px 8px;
}

.badge_size_lg {
  width: 56px;
  height: 28px;
  font-size: 14px;
  padding: 4px 10px;
}

/* Color classes */
.badge_color_neutral {
  color: #525252;
  background-color: #f9fafb;
  border: 1px solid #e5e5e5;
}
.badge_color_danger {
  /* Define unique properties for color="danger". */
}
.badge_color_warning {
  /* Define unique properties for color="warning". */
}
.badge_color_success {
  /* Define unique properties for color="success". */
}
.badge_color_brand {
  /* Define unique properties for color="brand". */
}

@media (min-width: 768px) {
}

@media (min-width: 1440px) {
}
